IBM_API_KEY=YOUR_API_KEY_HERE
WML_DEPLOYMENT_URL=https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/YOUR_DEPLOYMENT_ID/predictions?version=2021-05-01
WML_URL=https://eu-gb.ml.cloud.ibm.com
WATSONX_PROJECT_ID=YOUR_PROJECT_ID
